@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --white: rgb(255, 255, 255);
  --black: #050517;
  --purple: #32161f;
  --green: #2bdd9b;
  --salmon: #f89595;
  --old-rose: #ffc2b4;
  --text-font: 'Poppins', sans-serif;
  --header-font: 'Pixelify Sans', sans-serif;
  --timer-width: 290px;
  --timer-height: 290px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--old-rose);
  background: linear-gradient(180deg, var(--old-rose) 0%, var(--salmon) 100%);
  line-height: 1.6;
  font-family: var(--text-font);
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: var(--purple);
}

h1,
h2 {
  font-family: var(--header-font);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: var(--pink);
}

h1 {
  font-size: 2.5em;
  letter-spacing: 0.18rem;
}
