@import './base.css';

#main-app {
  padding: 2rem;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-container__input p {
  font-size: 0.8em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

#timer {
  height: 290px;
  width: 290px;
  border-radius: 50%;
  background: transparent;
}

.timer-shape {
  width: var(--timer-width);
  height: var(--timer-height);
}

.timer-shape__outer-circle {
  fill: var(--white);
  opacity: 30%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='text'],
input[type='number'] {
  background-color: rgba(255, 255, 255, 0.31);
  border: 1px solid rgba(255, 255, 255, 0.32);
  padding: 0.32rem;
  border-radius: 4px;
  width: fit-content;
}

button {
  font-family: var(--text-font);
  background: var(--purple);
  border: 0;
  border-radius: 10px;
  padding: 0.32rem 0.9rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  color: var(--white);
}

.timer-container__toggle-buttons button:first-child {
  margin-right: 20px;
}
